@charset "utf-8";

header {
    background-color: white;
    display: flex;
    .logo{
    }
    .menu{
        ul {
            display: flex;
            color: red;
            li {
                padding: 50px;
            }
        }
    }  
}